<!DOCTYPE html>
<html>
<head>
  <title>Home | Alexa Rank </title>
</head>
<body>
<h1>Alexa Rank</h1>
<div class="alert-heading" align="left" style="background-color: skyblue" >

  <h3 align="center">How are Alexa’s traffic rankings determined?</h3> <br>

  <p> <h5>Alexa’s traffic estimates and ranks are based on the browsing behavior of people in our global data panel which is a sample of all internet users.

  Alexa’s Traffic Ranks are based on the traffic data provided by users in Alexa’s global data panel over a rolling 3 month period. Traffic Ranks are updated daily. A site’s ranking is based on a combined measure of Unique Visitors and Pageviews. Unique Visitors are determined by the number of unique Alexa users who visit a site on a given day. Pageviews are the total number of Alexa user URL requests for a site. However, multiple requests for the same URL on the same day by the same user are counted as a single Pageview. The site with the highest combination of unique visitors and pageviews is ranked #1. Additionally, we employ data normalization to correct for biases that may occur in our data.
</h5>
  </p>
</div>
</body>
</html>